Repository nouvell7/AIgeneratedPlatform: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, shared

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        base: auto
    patch:
      default:
        target: 80%
        threshold: 1%

  ignore:
    - "packages/*/dist/**"
    - "packages/*/.next/**"
    - "packages/*/coverage/**"
    - "packages/**/node_modules/**"
    - "packages/**/__tests__/**"
    - "packages/**/*.test.ts"
    - "packages/**/*.test.tsx"
    - "packages/**/*.spec.ts"
    - "packages/**/*.spec.tsx"
    - "packages/*/jest.config.js"
    - "packages/*/next.config.js"
    - "packages/*/tailwind.config.js"
    - "packages/*/postcss.config.js"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - packages/backend/src
  frontend:
    paths:
      - packages/frontend/src
  shared:
    paths:
      - packages/shared/src

🎯 Day 4-5 완료: AI 모델 연동 테스트 27개 구현 완료
  .kiro/specs/ai-service-platform/test-results.md
  ChangeLog.md
  package-lock.json
  package.json
  packages/backend/jest.config.js
  packages/backend/prisma/schema.prisma
  packages/backend/src/controllers/__tests__/codespaces.controller.integration.test.ts
  packages/backend/src/controllers/__tests__/deployment.controller.integration.test.ts
  packages/backend/src/services/__tests__/aiModel.service.test.ts
  packages/backend/src/services/__tests__/codespaces.service.test.ts
  packages/backend/src/services/__tests__/deployment.service.test.ts
  packages/frontend/jest.config.js
  packages/frontend/src/__tests__/e2e/aiModel.e2e.test.ts
  packages/frontend/src/hooks/__tests__/useAIModel.test.ts
  packages/frontend/src/hooks/useAIModel.ts
  packages/frontend/src/services/api/aiModel.ts
  packages/frontend/src/store/index.ts
  packages/frontend/src/store/slices/aiModelSlice.ts
Due: backend, frontend

feat: Day 8 완료 - 템플릿 시스템 테스트 25개 구현
  .kiro/specs/ai-service-platform/test-results.md
  package-lock.json
  package.json
  packages/backend/src/controllers/__tests__/deployment.controller.integration.simple.test.ts
  packages/backend/src/controllers/__tests__/deployment.controller.integration.test.ts
  packages/backend/src/controllers/__tests__/deployment.controller.simple.test.ts
  packages/backend/src/controllers/__tests__/template.controller.integration.test.ts
  packages/backend/src/controllers/__tests__/template.controller.simple.test.ts
  packages/backend/src/controllers/deployment.controller.ts
  packages/backend/src/controllers/template.controller.ts
  packages/backend/src/services/__tests__/codespaces.service.test.ts
  packages/backend/src/services/__tests__/deployment.service.test.ts
  packages/backend/src/services/__tests__/template.service.test.ts
  packages/backend/src/services/deployment.service.ts
  packages/frontend/src/hooks/__tests__/useTemplates.test.ts
  packages/frontend/src/store/slices/templateSlice.ts
Due: backend, frontend

🚀 Complete comprehensive test suite implementation
  .env.example
  .kiro/specs/ai-service-platform/test-results.md
  .kiro/steering/tech.md
  packages/backend/src/controllers/__tests__/auth.controller.integration.test.ts
  packages/backend/src/controllers/__tests__/community.controller.integration.test.ts
  packages/backend/src/controllers/__tests__/revenue.controller.simple.test.ts
  packages/backend/src/controllers/__tests__/template.controller.integration.test.ts
  packages/backend/src/controllers/community.controller.ts
  packages/backend/src/controllers/revenue.controller.ts
  packages/backend/src/services/__tests__/auth.service.test.ts
  packages/backend/src/services/__tests__/community.service.test.ts
  packages/backend/src/services/__tests__/revenue.service.test.ts
  packages/backend/src/services/community.service.ts
  packages/frontend/.env.local.example
  packages/frontend/src/__tests__/e2e/aiModel.e2e.test.ts
  packages/frontend/src/__tests__/e2e/auth.e2e.test.ts
  packages/frontend/src/__tests__/e2e/project.e2e.test.ts
  packages/frontend/src/hooks/__tests__/useCommunity.test.ts
  packages/frontend/src/hooks/__tests__/useRevenue.test.ts
  packages/frontend/src/pages/test.tsx
Due: backend, frontend

🔧 Fix remaining failing tests and complete test suite
  .kiro/specs/ai-service-platform/tasks.md
  packages/backend/src/controllers/__tests__/auth.controller.integration.test.ts
  packages/backend/src/controllers/__tests__/codespaces.controller.integration.test.ts
  packages/backend/src/controllers/__tests__/deployment.controller.integration.test.ts
Due: backend

🚀 Complete PWA implementation and production deployment infrastructure
  .env.production
  .env.staging
  .github/workflows/deploy.yml
  .github/workflows/rollback.yml
  .kiro/specs/ai-service-platform/tasks.md
  docker-compose.dev.yml
  docker-compose.yml
  nginx.conf
  packages/backend/Dockerfile
  packages/backend/src/middleware/metrics.middleware.ts
  packages/backend/src/routes/health.routes.ts
  packages/frontend/Dockerfile
  packages/frontend/public/manifest.json
  packages/frontend/public/offline.html
  packages/frontend/public/sw.js
  packages/frontend/src/components/layout/Footer.tsx
  packages/frontend/src/components/layout/Header.tsx
  packages/frontend/src/components/layout/Sidebar.tsx
  packages/frontend/src/components/pwa/InstallPrompt.tsx
  packages/frontend/src/components/pwa/OfflineIndicator.tsx
  packages/frontend/src/components/pwa/UpdateNotification.tsx
  packages/frontend/src/hooks/usePWA.ts
  packages/frontend/src/pages/_app.tsx
  packages/frontend/src/pages/_document.tsx
  packages/frontend/src/pages/api/health.ts
  scripts/deploy.sh
  scripts/migrate.sh
Due: backend, frontend

📚 Add comprehensive production deployment guide and configuration
  DEPLOYMENT.md
  railway.json
  scripts/deploy-production.sh
  vercel.json
Due: none

feat: 외부 접근 가능한 Docker 프로덕션 배포 구성
  .env.production
  package.json
  packages/backend/Dockerfile
  packages/backend/package.json
  packages/backend/src/controllers/adsense.controller.ts
  packages/backend/src/controllers/userSettings.controller.ts
  packages/backend/src/middleware/metrics.middleware.ts
  packages/backend/src/routes/codespaces.routes.ts
  packages/backend/src/routes/community.routes.ts
  packages/backend/src/routes/health.routes.ts
  packages/backend/src/routes/revenue.routes.ts
  packages/backend/src/routes/user.routes.ts
  packages/backend/src/services/__tests__/community.service.test.ts
  packages/backend/src/services/adsense.service.ts
  packages/backend/src/services/codespaces.service.ts
  packages/backend/src/services/deployment.service.ts
  packages/frontend/next.config.js
  packages/frontend/playwright.config.ts.bak
  packages/frontend/src/components/ai/TeachableMachineGuide.tsx
  packages/frontend/src/components/deployment/DeploymentConfig.tsx
  packages/frontend/src/components/layout/Header.tsx
Due: backend, frontend
